@model IEnumerable<TruYumFinal.Models.Cart>

@{
    ViewBag.Title = "Index";
}
<head>
    <title>TruYum</title>
</head>
<style>
    body {
        background-color: #caf0f8;
    }

    #price {
        text-align: center;
        font-size: 1.5em;
    }

    .in-center {
        text-align: center;
        margin-top: 150px;
    }

    .below {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 150px;
    }
</style>
<body>
    @if (Model.Count() != 0)
    {

        <h2>View Cart</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Name)
                </th>
                <th>@Html.DisplayNameFor(model => model.MenuItem.FreeDelivery)</th>
                <th>@Html.DisplayNameFor(model => model.MenuItem.Price)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.FreeDelivery)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.MenuItem.Price)</td>
                    <td>
                        <p>
                            @Html.ActionLink("Remove", "Del", new { id = item.CartId },
                                new { onclick = "return confirm('Are you sure you want to remove- " + item.MenuItem.Name + "');" })
                        </p>
                    </td>

                </tr>
            }
        </table>
        <p id="price">
            <b>@ViewBag.Msg</b>
        </p>

    }
    else
    { <div class="in-center">
            <h2>Your Cart is Empty</h2><br />
            <h4>Kindly Add more items.</h4>
        </div>
    }

    <p class="below"> @Html.ActionLink("View menu items", "Index", "MenuItems")</p>

</body>